<h1 class="isabella-name"><%= @full_name %></h1>
<h2 class="isabella-header">Bio</h2>
<h3><%= @bio %></h3>
<h2 class="isabella-header">Favorite Restaurant</h2>
<h3><%= @restaurant %></h3>
<h2 class="isabella-header">Favorite T.V. Show</h2>
<h3><%= @tv_show %></h3>